<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' type="text/css" />
		<title>Eat-Da-Burger (Part 3)</title>
		<style media="screen">
			body  {
				background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/19642745_10208591547526897_1348095722591500775_n.jpg?oh=b64f585187cb457695e60b9ece7a0ad0&oe=5A33FC07");
				background-color: black; 
			}

			h1 {text-align: center;} 
			form {text-align: center;}
			h6 {text-align: center;}

			#devour {
				position: relative;
			}

			#displayText {
				border: solid 1px #CCC;
			}

			#devouredbtn {
				position: relative;
			}

			div.transbox {
			margin: 0px;
			width: 200px;
			background-color: #ffffff;
			border: 1px solid black;
			opacity: 0.6;
			filter: alpha(opacity=60); /* For IE8 and earlier */
			}

			div.transbox p {
			margin: 2%;
			font-weight: bold;
			color: #000000;
			}
		</style>
	</head>
	<body>
		<br>
		{{{ body }}}
	</body>
</html>
